* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18pt;
}


body {
    height: 100vh;
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 150px;

    grid-template-areas:
        "menu header header header"
        "menu canvas canvas canvas"
        "menu footer footer footer";
}

#header {
    grid-area: header;
    background: #688ED9;

}
/*HEADER---------------------*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



/*Slide-and-canvas---------------------*/
#canvas {
    
    grid-area: canvas;
}



.mySlides{
    
    background-color: white;
    
}


.editMode {
    
    width: 70vw;
    height: 35vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 10%;
    margin-right: 10%;

}








/*-----------^Slide-and-canvas^----------*/

/*Tekst-------------------------------*/
p {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
}



h3 {
    font-size: 18px;
    padding-bottom: 10px;

}

label{
    font-size: 1vw;
}

.text{
    width: 90%;
    height: 60%;
    background-color: transparent;
    border-style: hidden;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 2.5vw;
}


.title {
    background-color: transparent;
    border-style: hidden;
    font-size: 5vw;
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
}

.mainTitle {
    background-color: transparent;
    border-style: hidden;
    font-size: 5vw;
    width: 100%;
    height: auto;
    margin-top: 15%;
    text-align: center;
}

.undertitle {
    background-color: transparent;
    text-align: center;
    font-size: 3vw;
    width: 100%;
    height: auto;
    margin-top: 2%;
    text-align: center;
    border: none;
}


.mediaContent{
display: flex;
}

.mediaDiv {
    overflow:hidden;
    height: 26vw;
    max-width: 35vw;
    margin-left: 1%;
}



.mediaText{
    margin-left: 30%;
    background-color: transparent;
    border-style: hidden;
    font-size: 2.5vw;
    height: 100%;
}

iframe{
    width: 35vw;
    height: 25vw;;
}


/*----------------^Text^------------------*/

/*-----Notes and fullscreen buttons------*/
#toggleNotes{
    color: black;
    border: 0px;
    background-color: white;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    padding: 12px 20px;
}


#fullscreenBtn {
    
    color: black;
    border: 0px;
    background-color: white;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    padding: 13px 26px;
    z-index: 10;
}

/*------^Notes and fullscreen buttons^----*/

.fullscreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;  
}


.fullscreen textarea{
font-size: 3.5vw;


}

.fullscreen input{
font-size: 7vw;
}

.fullscreen .slideImg{
    height: 78%;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: 50vw;
}






/*Footer ------------------------------- */

.footer {
    display:inline-block;
    grid-area: footer;
    background: gray;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.myPreview {
    display:inline-block;
    background-color: white;
    height: 100px;
    width: 150px;
    margin: 30px;
   

}

.deleteSlide {
    width: 10%;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.deleteSlide:hover,
.deleteSlide:focus {
    color: red;
    cursor: pointer;
}

.selected{
    border: 2px solid blue;
    background-color: white;
    height: 100px;
    width: 150px;
    margin: 30px;
    margin-top: 20px;

}

.previewTitle {
    font-size: 15px;
    padding-left: 40%;
    
     
}

.selected .previewTitle {
    font-size: 30px;
    /*position: absolute;*/
    padding-left:;
    padding-top: 1px
   
     
}

/*-------Next-&-previous-buttons--------*/
.prev,
.next {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    height:150px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 55px;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev {
    left: 250px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/*------------^Next-and-prev-buttons^------------*/

/*--Footer-Pluss-tegn--------------------*/
#addNewSlide{
    cursor: pointer;
    background-color: darkgray;
    transition: 0.6s ease;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-right: 5%;
    margin-top: 3%;
    
    
 
}
#addNewSlide:hover,
#addNewSlide:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#addNewSlide:after {
    background-color: #FFFFFF;
    width: 20px;
    height: 4px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:13px;
    left: 5px;
    content:"";
}
#addNewSlide:before {
    background-color: #FFFFFF;
    width: 4px;
    height: 20px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:5px;
    left: 13px;
    content:"";
}

.footer div{
    display: inline-block;
}

/*-------------^Footer-Stuff^-------------*/

/*Editing-Menu---------------------------*/

.menu {
    grid-area: menu;
    background: #688ED9;
}

#textMenu {
    color: white;
    background: #1F2B4C;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#imageMenu {
    color: white;
    background: #2C3D6B;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}


#backgroundMenu{
    background: #3E4575;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#notesAndFullscreen{
    background: #3E4575;
    color: white;


    
}

#timeInput{
    width: 25%;
}





/*------Buttons-for-TEXT-editing---------*/

#butB {
    cursor: pointer;
    font-weight: bold;
}

#butI {
    cursor: pointer;
    font-style: italic;
}

#butU {
    cursor: pointer;
    /*text-decoration: underline;*/
    font-variant: small-caps;
}

#butAa,
#butI,
#butB {
    font-size: 14px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border: 1px solid #000000;
    background-color: lightgrey;
    align-content: center;
    margin-bottom: 20px;
}


option {
    font-size: 14px;
}

#fontList {
    cursor: pointer;
    font-size: 14px;
    width: 100px;
}


/*-------Image-editing----------------------*/
#addImg {
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    width: 100px;
    align-content: center;
}

#filter {
    cursor: pointer;
    font-size: 14px;
    width: 100px;
}

option[value]{
    font-size: 14px;
}

/*------------------^Editing-menu^--------------*/

/*User-Pop-up-windows---------------------------*/

.modulHeader {
    font-size: 25px;
}

#user {
    text-align: right;
    padding: 20px 20px;
    color: white;
    font-size: 14px;
}

input[type=text],
input[type=password] {
    width: 100%;
    max-width: 300px;
    padding: 8px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

#signInBtn,
#loginBtn {
    float: right;
    color: black;
    border: 0px;
    display: inline-block;
    background-color: white;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14px;
    /*border-radius: 25px;*/
    cursor: pointer;
    user-select: none;
    padding: 12px 20px;

}

.formButtons {
    color: white;
    border: 0px;
    display: inline-block;
    background-color: #008ae6;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14pt;
    /*border-radius: 25px;*/
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;
    transition: transform 0.2s;

}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    font-size: 18;
}

.container {
    text-align: center;
    padding: 16px;
    margin-bottom: 30px;
    font-size: 14px
}

span.psw {
    float: right;
    padding-top: 16px;
}

.hideButtons {
    color: white;
    border: 0px;
    display: inline-block;
    background-color: #008ae6;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14pt;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;
    transition: transform 0.2s;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /*overflow: auto;*/
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/*-------------^-user-windows^-----------------*/