* {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20pt;
}


body {
    height: 100vh;
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 150px;




    grid-template-areas:
        "header header header header"
        "menu canvas canvas canvas"
        "menu footer footer footer";
}


p {
    font-size: 14px;
}

h3 {
    font-size: 23px;

}



#header {
    grid-area: header;
    background: cornflowerblue;

}

.menu {
    grid-area: menu;
    background: gray;
    border: solid 1px aliceblue;

}

#canvas {
    grid-area: canvas;
    position: relative;
    margin: 5%;
    
}

.footer {
    grid-area: footer;
    background: gray;
    border: solid 1px aliceblue;
    

}


/*CANVAS */
.mySlides {
    background-color: white;
    width: 100%;
    height: 100%;

    

}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/*SLIDE*/
.text{
    border-style: hidden;
    margin-top: 20px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}


.title {
    border-style: hidden;
    font-size: 45px;
    height: auto;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.undertitle {
    text-align: center;
    font-size: 40px;
    padding: 60px 12px;
}




/* ---Footer ---- */


.myPreview {
    background-color: white;
    height: 100px;
    width: 150px;
    margin: 30px;
}


.selected{
    border: 2px solid blue;
    background-color: white;
    height: 100px;
    width: 150px;
    margin: 30px;

}

.previewTitle {
    text-align: center;
    
}


#addNewSlide{
    background-color: #000000;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    width: 30px;
    height: 30px;
    position: relative;
    top:35px;
    left:10px;
}

#addNewSlide:after {
    background-color: #FFFFFF;
    width: 20px;
    height: 4px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:15px;
    left: 4px;
    content:"";
}
#addNewSlide:before {
    background-color: green;
    width: 4px;
    height: 20px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:4px;
    left: 15px;
    content:"";
}

.footer div{
    display: inline-block;
}


/*MENY */
#textMenu {
    background: pink;
    padding-left: 30px;
    padding-top: 30px;
}

#imageMenu {
    background: green;
    padding-left: 30px;
    padding-top: 30px;

}



/* /// Text editing --- */

#butB {
    font-weight: bold;
}

#butI {
    font-style: italic;
   
}

#butU {
    text-decoration: underline;
}

#butU,
#butI,
#butB {
    font-size: 14px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border: 1px solid #000000;
    background-color: lightgrey;
    align-content: center;
    margin-bottom: 20px;
}



/* /// Image editing --- */
#addImg {
    font-size: 14px;
    height: 40px;
    width: 100px;

}

#filter {
    font-size: 14px;
    width: 100px;
}

/*MENYEND */

.modulHeader {
    font-size: 35px;
}


#user {
    text-align: right;
    padding: 20px 20px;
    color: white;
    font-size: 20px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    max-width: 500px;
    padding: 8px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}



#signInBtn,
#loginBtn {
    float: right;
    color: black;
    border: 0px;
    display: inline-block;
    background-color: white;
    margin: 8px;
    font-family: sans-serif;
    font-size: 10pt;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;

}

.formButtons {
    color: white;
    border: 0px;
    display: inline-block;
    background-color: cornflowerblue;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14pt;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;
    transition: transform 0.2s;

}



/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    text-align: center;
    padding: 16px;
    margin-bottom: 30px;
    font-size: 20px
}

span.psw {
    float: right;
    padding-top: 16px;
}

.hideButtons {
    color: white;
    border: 0px;
    display: inline-block;
    background-color: cornflowerblue;
    margin: 8px;
    font-family: sans-serif;
    font-size: 14pt;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    padding: 14px 20px;
    transition: transform 0.2s;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}